/* General*/
@font-face {
    font-family: PhiStd;
    src: url(assets/fonts/TestSohneBreit-Buch.otf);
}

@font-face {
    font-family: PhiBold;
    src: url(assets/fonts/TestSohne-Halbfett.otf);
}

* {
    margin: 0; 
    padding: 0; 
}

body{
    font-family: PhiStd;
    margin: 0;
    padding: 0;
    background-color: #F8FAFC;
    overflow-x: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Desktop Nav*/
#desktopNav{
    /* background-color: #619CC7; */
    position-anchor: absolute;
}

 nav, .navLinks{
  display: flex;
  margin: 0;
  padding: 1px;
  width: 100%;  
 }

 nav{
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
 }

 .navLinks{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
 }

 a{
  color: white;
  text-decoration: none;
  text-decoration-color: black;
 }

 a:hover{
  color: #AFAFB4;
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-color: rbg(181,181,181);
 }

 .logo{
  font-size: 2rem;
 }

 .logo:hover{
  cursor: pointer;
 }

 /* Hamburger Menu*/

 #hamburgerNav{
  display: none;
  /* background-color: #619CC7; */
 }

 .hamburgerMenu{
  position: relative;
  display: inline-block;
 }

 .hamburgerIcon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
 }

 .hamburgerIcon span{
  width: 100%;
  height: 2px;
  background-color: #F8FAFC;
  transition: all 0.3 ease-in-out;
 }

 .menuLinks{
  position: absolute;
  top: 100%;
  right: 0%;
  background-color:#F8FAFC;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
 }

 .menuLinks a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
    color: #0D1433;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
 }

 .menuLinks li{
  list-style: none;

 }

 .menuLinks.open{
  max-height: 300px;

 }

 .hamburgerIcon.open span:first-child{
  transform: rotate(45deg) translate(10px, 5px);
 }

 .hamburgerIcon.open span:nth-child(2){
  opacity: 0;
}
 .hamburgerIcon.open span:last-child{
  transform: rotate(-45deg) translate(10px, -5px);
 }

 .hamburgerIcon span:first-child{
  transform: none;
 }

 .hamburgerIcon span:first-child{
  opacity: 1;
 }

 .hamburgerIcon span:first-child{
  transform: none;
 }

 /* Buffer*/
 #Buffer{
    background-image: url('/assets/PDT_NYH_Reading_Day_Serenades.jpg');
    box-shadow: inset 0 0 0 1000px rgba(13, 20, 51, 0.65);
    height: 75vh ;
    justify-content: center;
    align-items: center;
    border: none;
 }

#BufferContainer{
    font-family: PhiStd;
    font-size: x-large;
    color: #F8FAFC;
     margin: 0;
    padding: 1px;
    margin-top: 300px;
    justify-self: center;
}

#PhiDeltTitle{
    /* position: absolute; */
  width: 100%;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  text-align: center;
}


 /* About Section*/
#About{
    /* background-image: url('/assets/PDT_NYH_Reading_Day_Serenades.jpg'); */
    background-color: #F8FAFC;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-position: top;
    margin: 0;
    padding: 1px;
    border: none;
}


#FoundingPrinciples{
    background-color: #F8FAFC;
    font-family: PhiStd;
    font-size: x-large;
    text-align: center;
    margin: 0;
    padding: 1px;
    color: #0D1433;
        height: 40vh;

}

#PrinciplesContainer{
    display: flex;
    font-family: PhiStd;
    justify-content:baseline;
    padding: 45px;
    font-size: large;
    color: #0D1433;
}

#Friendship{
    background-color:#E2E8F0;
    border-radius: 25px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#SoundLearning{
    background-color: #E2E8F0;
    border-radius: 25px;
    margin-right: 10px;

}

#MoralRectitude{
    background-color: #E2E8F0;
    border-radius: 25px;
}

#history{
    background-color: #DBECF3;
    text-align: center;
    margin: 1px;
    padding: 0;
}
#HistoryContainer{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

#HistoryTitle{
    font-size: x-large;
}

#HistoryText{
    width: 600px;
}

#historyImage {
  width: 60%;
  margin: auto;
  display: block;
}
/* Recruitment */
#Recruitment{
    background-color: #DBECF3;
    margin: 0;
    padding: 1px;
    color: #0D1433;
}

#RecruitmentTop{
    background-image: url(assets/PDT_NYH_Fall_Recruitment_2024.jpg);
    height: 75vh;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(13, 20, 51, 0.65);
}

#RecruitmentTitle{
    font-family: PhiStd;
    font-size: xx-large;
  text-align: center;
  color: #F8FAFC;
  margin-top: 200px;
}

#RecruitmentContainer{
    display: flex;
    font-family: PhiStd;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
}

#WhyPhiDelt{
    text-align: center;
}

#TestimonyContainer{
display: table;
color: #0D1433;
margin-left: 95px;

}

#JFoxxy, #Pretzel, #Callum, #Corey, #OPL{
    padding: 2px;
    background-color: #CBD5E1;
    border-radius: 15px;
    word-wrap: break-word;
}

#JFoxxy, #Pretzel, #Callum, #Corey{
    margin-bottom: 50px;
}

 #myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99;
  border: none; 
  outline: none; 
  background-image: url(assets/PDT_Swords.png);
  background-color: #F1F5F9;
  /* color: #0D1433;   */
  cursor: pointer; 
  padding: 15px; 
  /* border-radius: 10px;
  font-size: 18px;  */
}

/* Interest*/
#ContactBtn, #DiscordBtn{
    font-family: PhiStd;
    color: #0D1433;
    margin-left: 20px;
    /* background-color: #AFAFB4; */
    border-radius: 15px;
    font-size: larger;
}


#contactbtn:hover, #DiscordBtn:hover{
    text-decoration: underline;
    text-decoration-color: #0D1433;
}

#interest{
    background-color: #F8FAFC;
    text-align: center;
    padding: 0;
    margin: 1px;
    height: 125px;
    font-size: x-large;
}



/* Brotherhood */

#BrotherhoodTop{
    background-image: url(assets/PDT_NYH_White_Carnation_Ball_2025.jpg);
    height: 75vh;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(13, 20, 51, 0.65);
}

#BrotherhoodTitle{
        font-family: PhiStd;
    font-size: xx-large;
  text-align: center;
  color: #F8FAFC;
  margin-top: 200px;
}

#BrothersTitle{
    text-align: center;
}
#GridContainer{
    display:table;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* Service */
#ServiceTop{
    background-image: url(assets/PDT_NYH_Fall_Service_2024.jpg);
    height: 75vh;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(13, 20, 51, 0.65);
}

#ServiceTitle{
        font-family: PhiStd;
    font-size: xx-large;
  text-align: center;
  color: #F8FAFC;
  margin-top: 200px;
}

/* Footer*/

#footer{
    padding: 0;
    margin: 1px;
}
#footerNav{
    background-color: #0D1433;
    justify-content: center;
}

#footerNavLinks{
    color: #0D1433;
}

#Stars{
justify-content: left;
}

#navLinksContainerFooter{
    justify-content: center;
}